/* about */
#about
 {
    background-color: rgb(1, 11, 38);
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 100px 100px;
    border-bottom: 1px solid white;
}

#about h1 {
    color: white;
    font-weight: 600;
    font-size: 50px;
    text-shadow: -3px -3px 5px #ff3f81;
  /* background: -webkit-linear-gradient(red, #03f7e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

}

.aboutme{
    display: flex;
    /* gap: 100px; */

}
/* about-img */
.about-img{
    width: 35%;
}
.kajalimg{
  position: relative;
  transition-delay: .6s;
}

.kajalimg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-top-right-radius: 10px;
}
.detail {
    color: black;
    margin: auto;
    width: 50%;
    text-align: left;

}
.detail p{
  color: white;
  margin: 30px 0;
  font-size: 20px;
}
/* button */
.detail button{
  background-color: #ff3f81;
  color: white;
  display: flex;
    align-items: center;
    gap: 10px;
  padding: 10px 20px;
}
.custom-btn {
  width: auto;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-15 {
  background: #ff3f81;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: white;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #ff3f81;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

.div{
  display: flex;
  text-align: left;
  line-height: 50px;
}
.div p{
  color: white;
  text-align: left;
}
.personal-detail{
  width: 50%;
}
.detail1 {
  color: white;
  width: 100%;
  display: flex;
}
.info-right{
  width: 50%;
}
.info-left{
    color: #fb035a;
    width: auto;
    text-align: left;
    font-weight: 600;
    width: 30%;
    /* padding: 0 100px; */
}
  /* media query */
@media only screen and (min-width: 280px) and (max-width: 767px){
  #about{
      padding: 50px 0;
  }
  .aboutme{
    flex-wrap: wrap;
    padding: 0;
  }
  .detail{
    width: 100%;
    flex-wrap: wrap;
    text-align: justify;
    padding: 0 30px;
  }
  .about-img{
    width: 100%;
  }
  .kajalimg img{
    height: 400px;
    width: 100%;
    margin: auto;
  }
  .div{
    flex-wrap: wrap;
  }
  .personal-detail{
    width: 100%;

  }

}
@media only screen and (min-width: 768px) and (max-width: 1000px){
.aboutme{
  flex-wrap: wrap;
}
.about-img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-img img{
  height: 500px;
  width: 500px;
  
}
.detail{
  width: 100%;
}

}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  #about{
    padding: 50px 50px;
    margin: 0 auto;
  } 
  .about-img{
    margin: auto;
  }

}

