.contact {
  position: relative;
  z-index: 1;
  background-color: rgb(1, 11, 38);
  height: 100%;
  border-bottom: 1px solid white;
  padding: 100px 0;
  text-align: center;
}

.contact h1 {
  color: white;
  font-weight: 600;
  font-size: 50px;
  text-shadow: -3px -3px 5px #ff3f81;

}

.contact-page {
  color: white;
  padding: 50px 0;

}

.contact-page h1 {
  padding: 50px 0;
}

.con {
  width: 60%;

}

.con-detail {
  display: flex;
  color: white;
  justify-content: left;
  gap: 50px;
  padding: 10px 10px;
  width: 70%;
  margin: 30px 0;
  border-bottom: 1px dotted blue;
  align-items: center;
}

.emailid {
  text-align: left;
  height: 100% !important;
}

.emailid h4 {
  color: #ff3f81;

}

.emailid p {
  font-size: 25px;
  font-family: "Cedarville Cursive", cursive;
  font-style: italic;

}

.number h4 {
  color: #ff3f81;
  text-align: left;
}

.number p {
  font-family: "Cedarville Cursive", cursive;
  letter-spacing: 4px;
  font-size: 25px;
  text-align: left;

}

.emailicon,
.call {
  display: flex;
  height: 100%;
  transition: 0.5s;
  background-color: #ff3f81;
  border-radius: 50%;
  padding: 20px 20px;
  box-shadow: 0 0 10px 5px midnightblue;
}

.emailicon i,
.call i {
  font-weight: 900;
  font-size: 20px;

}

.con-detail:hover .emailicon {
  transform: rotateY(180deg);
  background-color: white;
  color: #ff3f81;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px midnightblue;

}

.con-detail:hover .call {
  transform: rotateY(180deg);
  background-color: white;
  color: #ff3f81;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px midnightblue;

}

.contact-flex {
  display: flex;
  align-items: center;
}

.letstalk {
  width: 30%;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.639);
  padding: 50px 50px;

}

.letstalk:hover {
  border-radius: 0;
  box-shadow: 0 0 2px 5px white;
  transition: .2s;
}

.letstalk h2 {
  color: white;
  font-size: 100px;
  font-family: cursive;
  font-weight: 900;

}

.letstalk span {
  color: blue;
  font-weight: 900;

}

.letstalk h3 {
  color: #ff3f81;
  font-size: 70px;
  font-family: cursive;
  font-weight: 900;
}


/* media query */

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .con {
    width: 100%;
  }
  .contact{
    padding: 0;
  }

  .contact-flex {
    flex-wrap: wrap-reverse;
    padding: 0 20px;
  }

  .letstalk h2 {
    font-size: 60px;
  }

  .letstalk h3 {
    font-size: 60px;
  }

  .letstalk {
    width: 100%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 0;
  }

  .contact-page h1 {
    padding: 20px 0;
  }

  .con-detail {
    gap: 15px;
    width: 100%;
    padding: 0;

  }

  .emailicon,
  .call {
    padding: 10px;
  }
  .emailicon i, .call i{
    font-size: 15px;
  }
  .emailid h4,.number h4{
    font-size: 16px;
  }
  .emailid p,.number p{
    font-size: 16px;
  }


  .emailid p {
    font-size: 20px;
  }

  .dot,
  .dot1 {
    display: none;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .con-detail {
    gap: 20px;
  }

  .emailicon,
  .call {
    padding: 10px 10px;
  }
  .number h4,.emailid h4{
    font-size: 22px;
  }
  .emailid p {
    font-size: 20px;
  } 

  .number p{
    font-size: 20px;
  }
  .letstalk h2 {
    font-size: 50px;
  }

  .letstalk h3 {
    font-size: 50px;
  }

  .letstalk {
    border-radius: 0;
    width: 40%;
  }


}