.education{
    background-color: rgb(1, 11, 38);
    position: relative;
    z-index: 2;
    padding: 100px 0;
    text-align: center;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.education h1{
    color: white;
  font-weight: 600;
  font-size: 50px;
  text-shadow: -3px -3px 5px #ff3f81;
}
.education-detail{
  display: flex;
  padding: 100px 0;

}
.education-left{
    border-right: 5px solid #ff3f81;
    border-radius: 20%;
    width: 50%;
    
}
.education-right{
  border-left: 5px solid #ff3f81;
  border-radius: 20%;
  width: 50%;

  
}
.tenth{
  background-color: midnightblue;
  color: white;
  margin: 50px 60px;
  padding: 30px 100px;
  text-align: left;
  border-radius: 30px;
  transition: .5s;
  
}
.tenth:hover{
  box-shadow: 0px 0 10px 5px midnightblue;
  background-color: transparent;
}
.tenth h5{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat";
  letter-spacing: 0.02rem;
}
.tenth i{
  color: #ff3f81;
}

.tenth h4{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  font-family: "Montserrat";
  letter-spacing: 0.02rem;
}
.tenth h3{
  font-family: 'Cedarville Cursive';
}

.tweath{
  background-color: midnightblue;
  color: white;
  margin: 250px 60px 0 60px;
  padding: 30px 100px;
  text-align: left;
  border-radius: 30px;
transition: .5s;
}
.tweath:hover{
  box-shadow: 0px 0 10px 5px midnightblue;
  background-color: transparent;
}
.tweath i{
  color: #ff3f81;
}
.tweath h4{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  font-family: "Montserrat";
  letter-spacing: 0.02rem;

}
.tweath h3{
  font-family: 'Cedarville Cursive';
}
.bca{
  background-color: midnightblue;
  color: white;
  margin: 280px 60px 0 60px;
  padding: 30px 100px;
  text-align: left;
  border-radius: 30px;
transition: .5s;
}
.bca:hover{
  box-shadow: 0px 0 10px 5px midnightblue;
  background-color: transparent;
}
.bca i{
  color: #ff3f81;
}
.bca h4{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  font-family: "Montserrat";
  letter-spacing: 0.02rem;

}
.bca h3{
  font-family: 'Cedarville Cursive';
}
.skytech{
  background-color: midnightblue;
  color: white;
  margin: 350px 60px 100px 60px;
  padding: 30px 100px;
  text-align: left;
  border-radius: 30px;
  transition: .5s;
}
.skytech:hover{
  box-shadow: 0px 0 10px 5px midnightblue;
  background-color: transparent;
}
.skytech i{
  color: #ff3f81;
}
.skytech h4{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  font-family: "Montserrat";
  letter-spacing: 0.02rem;

}
.skytech h3{
  font-family: 'Cedarville Cursive';
}


/* content */

  /* media query */
  @media only screen and (min-width: 280px) and (max-width: 480px){
    .education-detail{
      flex-wrap: wrap;
      padding: 0;
    }
    .education-left,.education-right{
      border: 0;
      width: 100% ;
    }
    .tenth, .tweath, .bca, .skytech{
      margin: 0;
    }
    
  }
  @media only screen and (min-width: 280px) and (max-width: 767px){
    .personal{
        flex-wrap: wrap;
    }
    .education-right,.education-left{
      border-radius: 20%;
    }
    .tenth,.tweath,.bca,.skytech{
      padding: 20px 20px;
      margin: 70px 20px;
    }
    .education h1{
      font-size: 40px;
    }
  
    .tenth, .tweath, .bca, .skytech{
      margin: 50px 20px;
    }
  
    .skytech h4{
      font-size: 19px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1200px){
    .personal{
        flex-wrap: wrap;
    }
    .tenth,.tweath,.bca,.skytech{
      padding: 20px 20px;
      margin: 50px 20px;
    }
    .education-right,.education-left{
      border-radius: 20%;
    }
  
  }