.portfolio{
    background-color: rgb(1, 11, 38);
    position: relative;
    z-index: 1;
    padding: 50px 0px;
    border-bottom: 1px solid white;
    text-align: center;
}
.portfolio h1 {
    color: white;
    font-weight: 600;
    font-size: 50px;
    text-shadow: -3px -3px 5px #ff3f81;

}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
  /* button */
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    display: none;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px !important;
    height: 300px;
  }
  
  .project-detail{
    display: none;
  }
  .swiper-slide:hover .project-detail{
    position: relative;
    display: block;
    color: white;
    height: 100%;
    padding: 100px 0; 
    backdrop-filter: blur(6px);
    background-color: #06091890;


  }
  .swiper-3d{
    perspective: 1392px !important;
  }
  .project-detail button:hover{
    background-color: white;
    color: #ff3f81; 

  }
  .project-detail h3{
    animation-duration: 1s;
    transition: .2s;
    animation-name: button;
  }
  .swiper-pagination-bullet{
    background-color: aliceblue !important;
  }
  .project-detail button{
    animation-duration: 1s;
    transition: .2s;
    animation-name: button;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;

  }
  @keyframes button {
    0%{scale: 0;}
    100%{scale: 1;}
  }
  .img1{
    background-image: url(/public/project.png);
  }
  .img2{
    background-image: url(/public/Screenshot\ \(23\).png);
  }
  .img3{
    background-image: url(/public/Screenshot\ \(28\).png);
  }
  .img4{
    background-image: url(/public/Screenshot\ \(24\).png);
  }
  .img5{
    background-image: url(/public/Screenshot\ \(25\).png);

  }
  .img6{
    background-image: url(/public/Screenshot\ \(26\).png);
    
  }
  .img7{
    background-image: url(/public/world\ clock.jpeg);
    background-position: left;

  } 
  .img8{
    background-image: url(/public/weather.jpeg);

  } 
  .swiper-button-prev{
    background-color: transparent;
    color: white;
    padding: 30px 30px !important;
    box-shadow: 0 0 5px 5px midnightblue;
    border-radius: 50%;
  }
  .swiper-button-next{
    background-color: transparent;
    color: white;
    padding: 30px 30px !important;
    box-shadow: 0 0 5px 5px midnightblue;
    border-radius: 50%;
  }

  /* media query */
  @media only screen and (min-width: 280px) and (max-width: 567px){
    .swiper-button-prev{
      padding: 15px !important;
     border-radius: 0;
    }
    .swiper-button-next{
      padding: 15px !important;
     border-radius: 0;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
      font-size: 15px;
    }
  }