
.sli{
    background-color: rgb(1, 11, 38);
    position: relative;
    z-index: 1;
    padding: 50px 0px;
    border-bottom: 1px solid white;
}
.gallery-container {
    perspective: 2000px;
  }
  
  .gallery {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
  }
  
  .gallery-item {
    position: absolute;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 72deg)) translateZ(500px);
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(180deg);
    }
  }