
.slick{
    position: relative;
    z-index: 1;
    background-color: rgb(1, 11, 38);
    color: white;
    height: 100%;
    border-bottom: 1px solid white;
    padding: 100px 0;
}
.slick h1{
    padding: 50px 0;
    /* text-shadow: -3px -3px 5px #ff3f81; */
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}

