.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #01a49e;
    color: #fff;
    outline: 5px solid #fff;
    outline-offset: -6px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .circle.desing1:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #f1dc67;
    -webkit-transform: translate(-45%, 75%);
    transform: translate(-45%, 75%);
  }
  
  .circle.desing1:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40%;
    height: 40%;
    border-radius: 15px;
    background-color: #00827d;
    -webkit-transform: translate(98px, -15px);
    transform: translate(98px, -15px);
  }
  
  .circle h4 {
    position: relative;
    z-index: 10;
    font-size: 30px !important;
    margin: 0;
  }
  
  .desing1:hover {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    outline: 5px solid #e2f1f0;
    outline-offset: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  