.loader-wrap {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 99999999999999;
  }
  
  .loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
    fill: #000;
  }
  
  .loader-wrap .loader-wrap-heading .load-text {
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 15px;
    text-transform: uppercase;
    z-index: 20;
    font-weight: 900;
    color: #fff;
  }
  

.loading-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}
 

  .loading span {
animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate;
    background-color: midnightblue;
    box-shadow: 0 0 5px 5px midnightblue;

  }
  
  .loading span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    color: #fb035a;
  }
  
  .loading span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    color: #fb035a;

  }
  
  .loading span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    color: #fb035a;
  }
  
  .loading span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    color: #fb035a;


  }
  
  .loading span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .loading span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
  .loading span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  @-webkit-keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  


  