
.herosection {
  background-color: rgb(1, 11, 38);
  height: 525px;
  width: 100%;
  /* border-bottom-left-radius: 30%; */
  /* position: fixed; */
}

.herosection1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.bubbles {
  /* position: relative; */
  display: flex;
}

.bubbles span {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2340fa;
  margin: 0 30px;
  box-shadow: 0 0 0 10px #4fc3dc44,
              0 0 50px #0970ee,
              0 0 100px #4fc3dc;
  animation: animate .5s linear infinite;
  animation-duration: var(--animation-duration);
  animation-duration: calc(5s / var(bubbles));
}

.bubbles span:nth-child(even) {
  background-color: rgb(250, 6, 87);
  box-shadow: 0 0 0 10px #1dccf444,
              0 0 50px #fd1969,
              0 0 100px #ff2d75;
}

@keyframes animate {
  0% { top: 100vh; transform: scale(0); }
  100% { top: 0vh; transform: scale(1); }
}
.laptop{
  position: absolute;
  z-index: 5;
  top: 24%;
  right: 5%;
  height: 100%;
}


  
/* content */
  .content{
    position: absolute;
    top: 30%;
    color: white;
    padding: 0 100px;
  }
  .intro {
    text-align: left;
}

.intro h3 {
  color: white;
  font-size: 50px!important;
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 7px!important;
  cursor: pointer;
  text-transform: uppercase;
}

.intro h3 {
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 98%, 50%) 0, hsl(236, 98%, 50%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.intro {
    margin: 0 50px;
}
/* text animation */


.bounce-text {
  animation: bounce 2s infinite;
  letter-spacing: 4px;
  padding: 20px 0;
  font-size: 12px;

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}


.typing-effect {
  width: 40px;
  overflow: hidden;
  font-weight: 800;
  letter-spacing: 4px;
  /* border-right: .15em solid orange; */
  white-space: nowrap;
  animation: typing 4s steps(15) 2s infinite alternate;
  padding: 10px 0;
}
@keyframes typing {
  from { width: 0; }
  to { width: 58%; }
}
.typing-effect1 {
  width: 40px;
  overflow: hidden;
  font-weight: 800;
  letter-spacing: 4px;
  /* border-right: .15em solid orange; */
  white-space: nowrap;
  animation: typing1 4s steps(15) 1s infinite alternate;
  padding: 10px 0;
}

@keyframes typing1 {
  0% { width: 0; }
  100% { width: 40%; }
}
  @media (max-width: 600px) {
    .bubble {
      width: 15px;
      height: 15px;
    }
  }
  .intro p{
    font-size: 20px;
    width: 50%;
    margin: 20px 0;
  }
  